.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 64px;
  padding: 0 20px;

  background-color: var(--color-bg-footer);
}

.hint {
  color: var( --color-text-secondary);
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}